table{
    border: 4px solid blue;
    border-spacing: 0px;
    background-color: aliceblue;
}

td{
    height: 50px;
    width: 50px;
}


tbody tr:nth-child(even) > td:nth-child(odd){
    background-color: powderblue;
}

tbody tr:nth-child(odd) > td:nth-child(odd){
    background-color: azure;
}

tbody tr:nth-child(odd) > td:nth-child(even){
    background-color: powderblue;
}

tbody tr:nth-child(even) > td:nth-child(even){
    background-color: blue;
}



