table{
    border: 1px solid black;
}

td{
    height: 50px;
    width: 200px;
    border: 1px solid black;
}


tbody tr :only-child >{
    text-align: center;
}


.link:hover { background-color: gray; }
